[package]
name = "tachikoma-common-core"
version.workspace = true
edition.workspace = true
license.workspace = true
build = "build.rs"

[dependencies]
serde.workspace = true
thiserror.workspace = true

[build-dependencies]
chrono.workspace = true

[dev-dependencies]
proptest.workspace = true